[Oo]bj/
[Bb]in/
[lL]ogs/
merged/
fubu-packages/
fubu-content/
compass-images/
.vscode/
*.ReSharper
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Tt]eam[Cc]ity.user
*.suo
*.swo
*.swp
*.swn
*.swm
*.cache
~$*
*.stresult
*.
*.pidb
*.userprefs
TestResults/
*sass-cache/
*.esent
*.vsp*
*~
*.zip
*.scssc
*.orig
*.vsmdi
*.log
*-built.js
tempIIS.config
*.docstates
*.bin
cache
gems
specifications
Deploy
Publish
packages
Build
!vendor/cache
vendor
*.user
*.DotSettings
*.DotSettings.*
*.ncrunchsolution
*.ncrunchsolution.*
*.sublime*
TestResult.xml
results
.bottle-alias
storyteller.cmd
run_st.cmd
src/data
editor.htm
testEditor.css
history.xml
artifacts
storyteller.cmd
run_st.cmd
src/CommonAssemblyInfo.cs
src/ExtendHealth.OneExchange/content/clients/
Images/downArrow.png
Images/upArrow.png
src/ExtendHealth.OneExchange/Raven
ssn_data.csv
data.csv
export/*.csv
.links
src/ExtendHealth.OneExchange/blesscompile.bat
src/ExtendHealth.OneExchange/.links
st-results/
*.DS_Store
st-artifacts/
StoryTellerDebug.cs
node_modules/
fubutransportation.esent.*
fubutransportationqueues.*
.mimosa/
Solution Items/
WebEssentials-settings.json
WE-Palette.css
**/missing.locale.config
QAOneExchange_export
src/ExtendHealth.OneExchange/public/
src/ExtendHealth.OneExchange/*-assets.json
src/ExtendHealth.OneExchange.Consumers/*-assets.json
.vs/
stresults.htm
src/Raven
src/ExtendHealth.OneExchange.StoryTeller/phantomjs.exe.version
src/ExtendHealth.OneExchange.StoryTeller/chromedriver.exe.version
.settings/
src/ExtendHealth.OneExchange/Temp/
paket.exe
lint-results.html
src/ExtendHealth.OneExchange.StoryTeller/public/
!src/Marten/patch/deploy
*.tmp
tools/
!tools/packages.config
/code-coverage
